<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игры - Quiz App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: rgb(49, 170, 160);
        }

        .center-block {
            background: white;
            border-radius: 60px;
            justify-content: center;
            align-items: center;
        }

        .quiz-block {
            background-color: rgba(0, 0, 0, 0.212);
            border-radius: 60px;
            word-wrap: break-word;
            overflow: auto;
        }

        .navbar {
            background-color: rgba(166, 211, 224, 0.9);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3">
        <div class="container">
            <a href="/" style="font-size: 37px" class="navbar-brand">Quiz App</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/quiz/create" style="font-size: 25px; color: rgb(255, 255, 255);"
                            class="nav-link">Создать викторину</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/quiz/all" style="font-size: 25px; color: rgb(255, 255, 255);"
                            class="nav-link">Викторины</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/quiz/my" style="font-size: 25px; color: rgb(255, 255, 255);" class="nav-link">Мои
                            викторины</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button id="logout" class="btn btn-danger d-inline-flex">Выйти</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="container center-block">
            <form>
                <div class="row my-5">
                    <div class="mx-auto col-sm-6">
                        <input type="text" name="roomId" id="roomId" class="form-control" autocomplete="off" placeholder="Название комнаты" required>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-sm-4 mx-auto">
                        <button type="button" id="join-room-button" class="btn btn-success w-100">Войти</button>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-sm-4 mx-auto">
                        <button type="button" class="btn btn-success w-100" data-bs-toggle="modal"
                            data-bs-target="#createModal">Создать</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-block mx-auto mt-3 p-4">
                <div class="input-group mb-3">
                    <input id="game-name-input" type="text" class="form-control" placeholder="Название игры">
                    <button class="btn btn-success" type="button" id="search-game">Найти</button>
                    <button class="btn btn-success mx-1" type="button" data-bs-toggle="modal"
                        data-bs-target="#createModal">Создать</button>
                </div>
            </div>
        </div>

        <div class="container quiz-block mt-4">
            <div id="game-list" class="row justify-content-center">

            </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createLabel">Создать игру</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3">
                            <label for="room-name" class="col-form-label">
                                Название комнаты:
                            </label>
                            <input type="text" class="form-control" id="room-name">
                        </div>
                        <div class="mb-3">
                            <label for="max-players" class="col-form-label">
                                Количество игроков (2 - 16):
                            </label>
                            <input type="number" class="form-control" id="max-players" min="2" max="16"
                                autocomplete="new-password">
                        </div>
                        <div class="mb-3">
                            <label for="quiz-pack" class="col-form-label">
                                Набор вопросов:
                            </label>
                            <select class="form-select" id="inputGroupQuizName">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="room-access" class="col-form-label">
                                Доступ:
                            </label>
                            <select class="form-select" id="inputGroupSelectAccess">
                                <option value="Public" selected>Публичный</option>
                                <option value="Private">Приватный</option>
                            </select>
                        </div>
                        <div class="d-none mb-3" id="room-password-block">
                            <label for="room-password" class="col-form-label">
                                Пароль:
                            </label>
                            <input type="password" class="form-control" id="room-password" autocomplete="new-password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-success" id="create-game-button">Создать</button>
                </div>
            </div>
        </div>
    </div>

    <script id="quiz-pack-names" type="x-tmpl-mustache">
        {{{{raw-helper}}}}
        {{#quizzes}}
            <option value={{{_id}}}>{{name}}</option>
        {{/quizzes}}
        {{{{/raw-helper}}}}
    </script>

    <script id="game-template" type="x-tmpl-mustache">
        {{{{raw-helper}}}}
        {{#games}}
        <div class="col-sm-4 m-3">
            <div class="card" id={{{roomName}}}>
                <div class="card-body">
                    <h5 class="card-title">{{roomName}}</h5>
                        <p class="card-text">
                            Викторина: {{quizName}}<br>
                            Темы:<br>
                            {{#themes}}
                                {{.}}<br> 
                            {{/themes}}
                            <br>
                            Кол-во игроков: {{players}}/{{maxPlayers}}<br>
                            Доступ: {{access}}

                        </p>
                        <button onclick="location.href='/games/{{roomName}}'" class="btn btn-success">Войти</button>
                </div>
            </div>
        </div>
        {{/games}}
        {{{{/raw-helper}}}}
    </script>

    <script src="js/variables.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/getGames.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="js/createGame.js"></script>
</body>

</html>